<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css" rel="stylesheet" integrity="sha384-SzKUsCJx2Ud84AFsQTtCG+83F3jR3vn3i0VOw0n7KoDH2bjHSxypJCfUK9S5jRgH" crossorigin="anonymous" />
        <link rel="stylesheet" href="Css/navbar.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html"> <img src="/Image/Logo.svg" alt="Mon Logo" /> Mon ePortfolio </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#presentation"> <i class="bi bi-house-door"></i> Présentation </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projets"> <i class="bi bi-file-earmark-text"></i> Projets et Compétences </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"> <i class="bi bi-envelope"></i> Contact </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-rZ4I../im2023-7-19()age/1pngTwku0t4QV/QlB4fD2sqdI2e9kcjXerBwuNU1g8kUzDlvdnU/" crossorigin="anonymous"></script>
    </body>
</html>
