* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.nav-logo img {
    height: 40px;
    margin-right: 10px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-item:not(.nav-item-page) a:hover {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease-in-out;
}

.nav-item-language a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px;
}


.nav-item-page {
    border: 2px solid #fff;
}

.nav-item-page a {
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}

.nav-item-page a:hover {
    border-color: #333;
    color: #333;
    transition: border-color 0.3s ease-in-out;
}

.nav-item-language {
    position: relative;
}

.nav-item-language a {
    cursor: pointer;
}

.nav-item-language:hover .nav-sublist {
    display: block;
}

.nav-sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}

.nav-sublist li {
    margin: 5px 0;
}

.nav-sublist a {
    color: #fff;
    text-decoration: none;
}


.nav-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.nav-toggle span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    position: relative;
    width: 25px;
}

.nav-toggle span:last-child {
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #222;
        width: 100%;
        text-align: center;
        padding: 10px;
        border: 1px solid #444;
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
        margin: 10px 0;
        padding: 10px;
        background-color: #444;
        border: none;
        border-radius: 5px;
    }

    .nav-toggle span {
        display: block;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        position: relative;
        width: 25px;
    }

    .nav-toggle span:last-child {
        margin-bottom: 0;
    }

    .nav-open .nav-list {
        display: block;
    }

    .nav-open .nav-toggle {
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 50%;
    }

    /* Nouveaux styles pour la version mobile */
    .nav-item {
        margin: 10px 0;
    }

    .nav-sublist {
        margin: 0;
        padding: 0;
    }

    .nav-sublist li {
        display: block;
        margin: 10px 0;
    }
}


p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

main {
    background-color: #f2f2f2;
    padding: 40px;
    min-height: calc(100vh - 200px); /* La hauteur totale - hauteur du header et du footer */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.social-links {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: #555555;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.social-links a:hover {
    color: #333333;
    border-bottom: 2px solid #333333;
    box-shadow: none;
}


.My-Forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
}

.My-Forms form {
    width: 48%;
    display: inline-block;
}

.News-Form, .contact-form {
    position: relative;
}

.News-Form h2, .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.News-Form label, .contact-form label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.News-Form .form-input-wrapper, .contact-form .form-input-wrapper {
    position: relative;
}

.News-Form .form-input, .contact-form .form-input, .newsletter-input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
}

.News-Form .form-input:focus, .contact-form .form-input:focus, .newsletter-input:focus {
    outline: none;
}

.News-Form .form-input:focus + .form-input-border, .contact-form .form-input:focus + .form-input-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333333;
}

.News-Form .form-input-border, .contact-form .form-input-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.News-Form .newsletter-input, .contact-form textarea {
    width: auto;
    margin-right: 10px;
}

.News-Form .newsletter-input:focus + label, .contact-form textarea:focus + label {
    color: #333333;
}

.News-Form .newsletter-input:checked + label {
    font-weight: bold;
}

.News-Form .form-submit-btn-newsletter, .contact-form .form-submit-btn-message {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease;
}

.News-Form .form-submit-btn-newsletter:hover, .contact-form .form-submit-btn-message:hover {
    background-color: #333;
    color: #fff;
    box-shadow: none;
}

.My-Forms .form-block {
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    transition: background-color 0.2s ease;
}

.My-Forms .form-block:hover {
    background-color: #222;
    color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease;
}

@media (prefers-color-scheme: dark) {
    .News-Form .form-submit-btn-newsletter, .contact-form .form-submit-btn-message {
        background-color: #222;
        color: #fff;
    }
}


@media screen and (max-width: 768px) {
    .My-Forms form {
        width: 100%;
    }
}















.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.footer a:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
}




.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.footer-bottom {
    background-color: #222;
    padding: 10px;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
    color: #fff;
}

/* Mobile */
@media screen and (max-width: 480px) {
    .footer {
        height: auto;
        padding: 30px 20px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-right {
        margin-bottom: 0;
    }

    .footer-bottom {
        margin-top: 30px;
    }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer {
        height: auto;
        padding: 40px 50px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-left,
    .footer-right {
        margin-bottom: 0;
        text-align: left;
    }

    .footer-left {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .footer-right {
        flex-basis: calc(50% - 30px);
    }

    .footer-bottom {
        margin-top: 30px;
    }
}